@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: theme("colors.mush.bg");
  }
  ::-webkit-scrollbar-thumb {
    background: theme("colors.mush.panel");
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: theme("colors.mush.accent");
  }
}
